@import '../../../styles/pallete';

.run-logs {
    flex-grow: 1;
    height: 100%;
    background-color: $logs-background;
    color: white;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.1em;
    font-family: monospace;
}