$suppressed-color: #666;
$header-color: #23231b;
$icon-color: #374957;
$card-color: #24292e;
$accent-color: #78909c;
$accent-color-light: #a7c0cd;
$accent-color-dark: #4b636e;
$border: #dbdbdb;
$icon-soft: #aaa;
$pitch-black: #363a3d;
$soft-black: #515457;
$softer-black: #666666;
$true-suppressed: #aaa;
$logo-yellow: #fdd703;
$logs-background: #26292d;
$background-gray: #f2f2f2;
$graph-node: #61a0a8;
$link: #007bff;
$error: #ce1228;
$bar-ok: #81c784;
$bar-bad: #e78994;
$bar-empty: $background-gray;
$row-gray: #f5f5f5;