@import "../../styles/pallete";

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $header-color;
    height: 50px;

    .header-logo {
        height: 100%;

        img {
            height: 40px;
            max-width: 100%;
        }
    }

    .avatar img {
        width: 30px;
        height: 30px;
        border: 1 solid white;
        border-radius: 2px;
    }

    .header-actions {
        margin: 0 10px;
    }

    .actions-right {
        .header-actions__item {
            margin-left: 10px;
        }
    }
}

// .dropdown-menu::before {
//     border-bottom: 9px solid rgba(0, 0, 0, 0.2);
//     border-left: 9px solid rgba(0, 0, 0, 0);
//     border-right: 9px solid rgba(0, 0, 0, 0);
//     content: "";
//     display: inline-block;
//     left: 86px;
//     position: absolute;
//     top: -8px;
// }

// .dropdown-menu::after {
//     border-bottom: 8px solid #FFFFFF;
//     border-left: 9px solid rgba(0, 0, 0, 0);
//     border-right: 9px solid rgba(0, 0, 0, 0);
//     content: "";
//     display: inline-block;
//     left: 86px;
//     position: absolute;
//     top: -7px;
// }