@import '../../../../styles/pallete';

.data-control {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__tabs {
        display: flex;
        padding: 0;
        margin: 0;
        list-style-type: none;
        border-bottom: 1px solid $border;
        background-color: white;
        height: 55px;
    }

    &__panel {
        flex-grow: 1;
        display: none;
        overflow: auto;

        &--selected {
            display: flex;
        }
    }
}